@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-image: url("./assets/backgroundRed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  color: white;
}

a {
  color:rgb(155, 225, 255);
  text-decoration: underline;
  transition: 0.2s;
}

a:visited {
  color:rgb(155, 225, 255);
  text-decoration: underline;
  transition: 0.2s;
}

a:hover {
  color:white;
  transition: 0.2s;
}


.linkNoDecor {
  text-decoration: none;
}

h2{
  font-size: 1.9em;
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0;
}

h3{
  font-size: 1.3em;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  color: white;
  border: 0.1em solid rgb(255, 255, 255);
  width:fit-content;
  padding:0.2em 0.5em 0.2em 0.5em;
  border-radius: 0.3em;
}

.masterContainer{
  background-image: url("./assets/backgroundBlue.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y:center;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index:-100;
  opacity: 0%;
  animation: rotate 0.8s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
to {
  opacity: 100%;
}
}

.linesContainer{
  background-image: url("./assets/lines.png");
  background-size: 80em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y:top;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index:-90;
  opacity: 70%;
  animation: rotate2 0.9s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate2 {
to {
  background-size:120em;
  background-position-y:bottom;
}
}

.contentContainer{
  height:85vh;
  width:90%;
  overflow-y: auto;
  margin: 5em auto 0 auto;
  scroll-behavior:smooth
}

@media only screen and (max-height:900px){
  .contentContainer{
    height:80vh;
  }
}

@media only screen and (max-height:700px){
  .contentContainer{
    height:76vh;
  }
}

@media only screen and (max-height:550px){
  .contentContainer{
    height:70vh;
  }
}
.contentContainer::-webkit-scrollbar {
  width: 0.4em;
}

.contentContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.625em;
}

.contentContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.621);
  border-radius: 1.25em;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
  padding: 0;
  text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.76);
}

.footer{
  display: flex;
  position: fixed;
  bottom: 1.5em;
  text-align: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 4s ease-out 0s 1 slideInFromBottom;
  width:85%;
  font-size: 1.1em;
}

@keyframes slideInFromBottom {
  0% {
    bottom: 0em;
    opacity: 0%;
  }
  60% {
    bottom: 0em;
    opacity: 0%;
  }
  100% {
    bottom: 1.5em;
    opacity: 100%;
  }
}

.websiteLogo{
  width:100%;
  margin: 0;
  animation: 1.2s ease-out 0s 1 shrink;
}

.titleContainer{
  margin: 1em auto 0 auto;
  width:50%;
  max-width: 15em;
  min-width: 7em;
}

@keyframes shrink {
  0% {
    width:150%;
    opacity: 0%;
  }
  100% {
    width:100%;
    opacity: 100%;
  }
}

.firstInfo{
  width: 60%;
  margin: 1.5em auto 1.5em auto;
  font-size: 1.2em;
  animation: 2.5s ease-out 0s 1 slideInFromBottom2;
}

.firstInfo2{
  width: 60%;
  margin: 1.5em auto 1.5em auto;
}

.leftAligned{
  text-align: left;
}

.containerRight{
  justify-content: right;
  display:flex;
}

.centerAllign{
  margin-top:0.2em;
  text-align: center;
}

.justifyAllign{
  text-align: justify;
}

@keyframes slideInFromBottom2 {
  0% {
    opacity: 0%;
  }
  50% {
    margin: 4em auto 2em auto;
    opacity: 0%;
  }
  100% {
    margin: 2em auto 2em auto;
    opacity: 100%;
  }
}

.quotes{
  font-size: 4em;
  margin:0;
  line-height: 0.1em ;
}

hr {
  width: 100%;
  margin: 1.4em auto 1.4em auto;
  background-color: #ffffff84;
}

.menuLogo{
  width:2em;
}

.menuButton{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height:3em;
  top:2em;
  left:2em;
  margin: 0;
  border-radius: 1.5em;
  transition: 0.5s;
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
    left:0em;
  }
  100% {
    left:2em;
    opacity: 100%;
  }
}

.menuButton:hover{
  background-color: #ffffff44;
  transition: 0.5s;
}

.menuContainer{
  position: fixed;
  top:5em;
  opacity:0%;
  left:-8em;
  margin: 0;
  border-radius: 1.5em;
  transition: 1s ease-out;
  z-index: 1000;
}

.shown{
  left:2em;
  opacity:100%;
  transition: 1s ease-out;
}

.menuItem{
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.3em;
  color:white;
  margin: 0.2em 0 0.2em 0;
  padding:0.4em 2em 0.4em 0.6em;
  text-align: left;
  border-radius: 0.5em;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.menuItem:hover{
  background-color: rgba(255, 255, 255, 0.3);
  padding:0.6em 2em 0.6em 0.6em;
  transition: 0.5s;
  cursor:default;
}

.integrantesContainer{
  width: 55%;
  margin:1em auto 1em auto;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1em solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.25);
  padding:2em;
  animation: 3.5s ease-out 0s 1 appear2;
}

@keyframes appear2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
    margin:5em auto 4em auto;
  }
  100% {
    right:2em;
    margin:1em auto 4em auto;
  }
}

.integrantesContainer2{
  width:fit-content;
}

.integranteItem{
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  color:rgb(0, 0, 0);
  border-radius: 0.4em;
  padding:0.4em 1.2em 0.4em 1.2em;
  margin: 0.25em 0 0.25em 0;
  text-shadow: none;
  font-size: 0.98em;
  line-height: 1em;
}

.titleIntegrantes{
  margin: 0em 0 0.4em 0;
}

.paragraph1{
  margin: 0 0 0.7em 0;
}

.wrapper {
	width:100%;
  height: 19em;
	margin: 0 auto;
  display: none;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}



@media only screen and (max-width:700px){
  .wrapper{
    height: 18em;
  }
}

@media only screen and (max-width:550px){
  .wrapper{
    height: 17em;
  }
}

.wrapper::-webkit-scrollbar {
  height: 0.4em;
}

.wrapper::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.139);
  border-radius: 5em;
}

.wrapper::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5em;
}

.slide {
  height:85%;
  margin: 0 1em 1em 0;
}

.instPic{
  height:100%;
  margin: 0;
}

.buttonContainer{
  width:100%;
  display: flex;
  flex-direction: row;
  margin:1em auto 1em auto;
  justify-content: space-between;
}

.installOptButton{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  border: 0.15em solid rgb(255, 255, 255);
  border-radius: 0.5em;
  width:49%;
  margin:0;
  transition: 0.5s all;
  cursor: pointer;
}

.installOptButton:hover{
  background-color: rgba(24, 3, 3, 0.9);
  transition: 0.5s all;
}

.selectedOne{
  background-color: rgba(255, 255, 255,1);
  color:black;
  transition: 0.5s all;
  font-weight:bold ;
}

.selectedOne:hover{
  background-color: rgba(255, 255, 255,1);
  color:black;
  transition: 0.5s all;
  font-weight:bold ;
}

.showInst {
  display:flex;
}


.installLink{
  margin:auto;
  width:fit-content;
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color:white;
  transition: 0.2s all;
  margin-bottom:0.5em;
  margin-top:-0.65em;
  text-decoration: underline;
  font-weight: bold;
}

.installLink:visited{
  margin:auto;
  width:fit-content;
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color:white;
  transition: 0.2s all;
  margin-bottom:0.5em;
  margin-top:-0.65em;
  text-decoration: underline;
  font-weight: bold;
}

.installLink:hover{
  color:rgb(255, 172, 172);
  text-decoration: underline;
  transition: 0.2s all;
}

.installationContainer{
  background-color: rgba(150, 150, 150, 0.3);
  width:56%;
  margin:2em auto 2em auto;
  padding: 3em 2em 2em 2em;
  border-radius: 2em;
  animation: 3s ease-out 0s 1 slideInFromRight2;
}

@keyframes slideInFromRight2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.characMainContainer{
  animation: 3.5s ease-out 0s 1 slideInFromRight3;
}

@keyframes slideInFromRight3 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
   margin-left:5em;
  }
  100% {
    margin-left:0em;
    opacity: 100%;
  }
}



.characteristicContainer{
  width:62%;
  height:fit-content;
  padding: 0 0 2em 0;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(105, 105, 105, 0.58);
  border-radius: 1.2em;
}

.shellImage{
  width:100%;
}

.charTextContainer{
  width: 90%;
  height:fit-content;
}

.charText{
  font-family: 'Roboto Mono', monospace;
  margin-top:1em;
}


.titleCaracteristicas{
  margin: 1.5em 0 1em 0;
}

.inputField{
  font-family: 'Roboto Mono', monospace;
  margin-bottom:0.2em;
  font-size: 1em;
  background-color: transparent;
  border: 0px;
  width:100%;
  margin-top:1em;
  color:white;
}

.inputField:focus{
  outline: none;
}

.titleFirstSteps{
  margin-bottom: -0.5em;
}

.idrisCode{
  font-family: 'Roboto Mono', monospace;
  margin-bottom:0.2em;
  font-size: 0.9em;
  border: 0px;
  width:100%;
  margin-top:1em;
  color:rgba(255, 255, 255, 0.8);
  margin-left: 0;
  text-align: center;
}

.codeContainer{
  text-align: center;
}
.presentationTitleContainer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.downloadIcon{
  width:1.3em;
  margin:0;
}

.containerDownload{
  padding: 0.3em 0.4em 0.3em 0.4em;
  border-radius: 0.5em;
  margin: 0.5em 0 0 0.7em;
  transition: 0.3s;
}

.containerDownload:hover{
  background-color: rgba(255, 255, 255, 0.29);
  padding: 0.3em 0.4em 0.3em 0.4em;
  border-radius: 0.5em;
  margin: 0.5em 0 0 0.7em;
  transition: 0.3s;
}
.macContainer{
  width:75%;
  max-width: 45em;
  margin:auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mac{
  width:100%;
}

.canvaContainer{
  position: absolute;
  width: 79%;
  padding-top: 45%;
  margin: auto; 
 will-change: transform;
}

.containerCanva2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;

}