@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
  padding: 0;
}

.footer{
  display: flex;
  position: fixed;
  bottom: 1.5em;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    bottom: 0em;
    opacity: 0%;
  }
  100% {
    bottom: 1.5em;
    opacity: 100%;
  }
}

.websiteLogo{
  width:17em;
  margin: 1em auto 1em auto;
}

